:root {
  --primarycolor: rgb(219, 30, 30);
  --black: black;
  --blackish: rgba(0, 0, 0, 0.404);
  --white: white;
  --whitish: rgba(255, 255, 255, 0.671);
}

::selection {
  color: var(--white);
  background-color: var(--primarycolor);
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: rgb(250, 246, 240);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.red-text {
  color: var(--primarycolor);
}
/* Nav bar styles */
header {
  height: 90vh;
  background: url("/img/pic2.jpeg") no-repeat center center/cover;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--white);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-item {
  display: inline;
}
.logo {
  color: var(--primarycolor);
  font-size: 0.8rem;
  padding: 0;
}

.nav-bar {
  padding-top: 20px;
}
.nav-link {
  text-transform: uppercase;
  color: var(--primarycolor);
  padding: 20px;
  font-weight: bolder;
  outline: none;
}
.drop-down {
  display: none;
  height: 100px;
  width: 100px;
  position: absolute;
  display: block;
}

.nav-link:hover {
  color: var(--black);
}

/* Home div styles */

#home {
  padding: 20% 20% 15% 15%;
  color: var(--white);
  width: 80%;
  height: 95%;
  margin: auto;
  line-height: 2;
  margin-top: 50px;
  background-color: var(--blackish);
  position: relative;
}
.welcome {
  font-size: 2.5rem;
}

.about-btn {
  font-size: 1.5rem;
  margin-top: 20px;
  color: var(--white);
  padding: 10px;
  text-transform: capitalize;
  background: none;
  font-weight: bolder;
  /* border: 2px solid var(--white); */
  text-transform: capitalize;
  border-radius: 7px;
  cursor: pointer;
}

.about-btn:hover {
  color: var(--white);
  background-color: var(--primarycolor);
}
.about-img {
  padding: 20px;
}
.about-img img {
  width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}
#about {
  height: 80vh;
  padding: 10% 0% 0% 0%;
  /* color: var(--primarycolor); */
  display: flex;
}
.container {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
}

.about {
  display: flex;
}

.description {
  padding: 20px;
  text-align: justify;
  line-height: 1.5;
}
.description h1 {
  font-size: 2rem;
}
.head {
  font-size: 2rem;
  color: var(--primarycolor);
}

.mybtn {
  background-color: var(--primarycolor);
  color: var(--white);
  padding: 20px;
  text-transform: uppercase;
}
.mybtn:hover {
  background: none;
  border: 2px var(--primarycolor) solid;
  color: var(--primarycolor);
}
#Properties h1 {
  padding-top: 20px;
}
.rent {
  height: 120vh;
  margin: 60px 50px 50px 50px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  /* padding: 2%; */
}

.card {
  width: 320px;
  margin: 20px;
  height: 420px;
  background-color: var(--white);
  padding: ;
  text-align: justify;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.123);
  border-radius: 7px;
}
.card-price {
  padding: 10px;
}
.card-img {
  transform: rotate(-5deg);
}
.card-img img {
  width: 100%;
  height: auto;
  transform: rotate(5deg);
}
.card-btn {
  color: white;
  background-color: var(--primarycolor);
  padding: 10px;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
}
.card-btn:hover {
  color: var(--primarycolor);
  background: none;
  border: 2px solid var(--primarycolor);
}
.card-desc {
  padding: 10px;
  line-height: 1.5;
}
.services {
  margin: 100px 50px 50px 50px;
  padding: 60px 0px 0px 0px;
}
.services h1 {
  padding-top: 20px;
}
.card-lg {
  display: flex;
  margin-top: 20px;
  padding: ;

  border-radius: 7px;
}
.desc-content {
  padding: 2%;
  line-height: 1.5;
}

/* footer styling */
footer {
  min-height: 50vh;
  color: var(--white);
  justify-content: space-evenly;
  background-color: var(--primarycolor);
  position: ;
}
.footer-list-display {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  color: ;
}
.footer-item {
  padding: 10px;
}
.footer-properties {
  color: var(--white);
}
.footer-link {
  color: var(--whitish);
}
.footer-link:hover {
  color: var(--white);
}
.email-btn {
  border: 1px solid var(--white);
  padding: 10px;
  background: none;
  color: var(--white);
}
.email-btn:hover {
  background-color: var(--white);
  color: var(--primarycolor);
}
.email-input {
  border: none;
  background: none;
  color: var(--white);
  border: none;
  padding: 10px;
  border-bottom: var(--white) 1px solid;
}
.footer-logo {
  padding: 20px;
}
.copyright-display {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--white);
}
