{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'properties/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'properties/css/bootstrap.min.css' %}">
    <title>Anya Properties | Dashboard</title>
  </head>
  <body>


    <div id="dashboard">
      
      {% block content %} {% endblock content %}
    </div>
    <div class="side-bar">
      
      <ul class="options">
        <h2 class="opt-item">{{user}}'s dashboard</h2>
        <li class="opt-item"><a href="{% url 'properties:admin_dashboard' %}" class="opt-link">Home</a></li>
        <li class="opt-item"><a href="{% url 'properties:houses' %}" class="opt-link">Houses</a></li>
        <li class="opt-item"><a href="" class="opt-link">WareHouses</a></li>
        <li class="opt-item"><a href="" class="opt-link">Land</a></li>
        <li class="opt-item"><a href="" class="opt-link">Agents</a></li>
        <li class="opt-item"><a href="" class="opt-link">My Account</a></li>
        <li class="opt-item"><a href="" class="opt-link">Log Out</a></li>
      </ul>
    </div>
    <script src="{% static 'properties/js/index.js' %}"></script>
  </body>
</html>
