{% extends 'properties/dashboard.html' %} {% block content %}
<div class="dash-container">
  <h1>{{houses.count}} House{{houses.count|pluralize}}</h1>
  <ul>
    <li><a class="dash-option" href="">Add A house</a></li>
    <li><a class="dash-option" href="">Change A house</a></li>
  </ul>
</div>
<div class="dash-container">
  <h1>{{warehouses.count}} Warehouse{{warehouses.count|pluralize}}</h1>
  <ul>
    <li><a class="dash-option" href="">Add A warehouse</a></li>
    <li><a class="dash-option" href="">Change A warehouse</a></li>
  </ul>
</div>
<div class="dash-container">
  <h1>{{ land_plots.count }} Land Plot{{land_plots|pluralize}}</h1>
  <ul>
    <li><a class="dash-option" href="">Add A land plot</a></li>
    <li><a class="dash-option" href="">Change A land plot</a></li>
  </ul>
</div>
<div class="dash-container">
  <h1>{{ agents.count }} Agent{{agents|pluralize}}</h1>
  <ul>
    <li><a class="dash-option" href="">Add An agent</a></li>
    <li><a class="dash-option" href="">Change An agent</a></li>
  </ul>
</div>

{% endblock content %}
