{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'properties/css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'properties/css/all.min.css' %}" />

    <title>Real Estate Project Home</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="{% url 'properties:home' %}" class="nav-link"
          ><h1>Anya Properties</h1></a
        >
      </div>
      <span class="nav-link" id="mobile-menu" style="font-size: large;">
        &#9776;
      </span>
      <ul class="nav-bar">
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="#home">home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">about</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#Properties">properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="buy-btn" href="#services">
            Services
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'properties:admin_logout' %}" class="nav-link"
            >Log Out</a
          >
        </li>

        {% else %}
        <li class="nav-item"><a class="nav-link" href="#home">home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">about</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#Properties">properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="buy-btn" href="#services">
            Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">testimonials</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'properties:agents' %}">Agents</a>
        </li>

        <li class="nav-item">
          <a href="{% url 'properties:contacts' %}" class="nav-link"
            >contacts</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
    <div id="overlay" class="overlay">
      <div class="overlay-items">
        <a href="{% url 'properties:home' %}">Home</a>
        <a href="{% url 'properties:agents' %}">Agents</a>
        <a href="{% url 'properties:contacts' %}">Contacts</a>
      </div>
    </div>
    <header>
      <!--================================== Home Div ========================== -->
      <div id="home">
        <h1 class="lg-text welcome">
          Welcome to Anya Properties
        </h1>
        <h3 class="">
          Buy and rent houses and land in Uganda.
        </h3>
        <a href="#about" class="about-btn text-center"
          >About Us <i class="fa fa-chevron-right" aria-hidden="true"></i
        ></a>
      </div>
    </header>
    <main>
      <div id="about">
        <div class="about-img">
          <img src="{% static 'properties/img/pic1.webp' %}" alt="" srcset="" />
        </div>
        <div class="description">
          <h1 class="head">About Us</h1>
          <p class="about-cont">
            We are a Uganda based real estate company that deals in land, houses
            and also ware houses in differebt parts of Uganda.
          </p>
          <br />
          <p class="about-cont">
            From finding your dream house, to finding the perfectt ware house,
            we help you all the way. Our Agents link you to land you the best
            properties in the Pearl of Uganda.
          </p>
          <br />

          <a href="#Properties" class="mybtn">Check Out Properties</a>
        </div>
      </div>
      <!-- =============Properties div======================================== -->
      <div class="properties" id="Properties">
        <h1 class="text-center red-text">Properties</h1>
        <div class="rent">
          <div class="card">
            <div class="card-img">
              <img
                src="{% static 'properties/img/pic1.webp' %}"
                alt=""
                width="100%"
                height="auto"
              />
            </div>
            <h3 class="card-price">
              UGX 650M
            </h3>
            <p class="card-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic,
              exercitationem.
            </p>
            <br />

            <a href="#" class="card-btn">Details</a>
          </div>
          <div class="card">
            <div class="card-img">
              <img
                src="{% static 'properties/img/pic1.webp' %}"
                alt=""
                width="400"
              />
            </div>
            <h3 class="card-price">
              UGX 650M
            </h3>
            <p class="card-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic,
              exercitationem.
            </p>
            <br />

            <a href="#" class="card-btn">Details</a>
          </div>

          <div class="card">
            <div class="card-img">
              <img
                src="{% static 'properties/img/pic1.webp' %}"
                alt=""
                width="400"
              />
            </div>
            <h3 class="card-price">
              UGX 650M
            </h3>
            <p class="card-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic,
              exercitationem.
            </p>
            <br />

            <a href="#" class="card-btn">Details</a>
          </div>

          <div class="card">
            <div class="card-img">
              <img
                src="{% static 'properties/img/pic1.webp' %}"
                alt=""
                width="400"
              />
            </div>
            <h3 class="card-price">
              UGX 650M
            </h3>
            <p class="card-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic,
              exercitationem.
            </p>
            <br />js/index.js
            <a href="#" class="card-btn">Details</a>
          </div>
          <div class="card">
            <div class="card-img">
              <img
                src="{% static 'properties/img/pic1.webp' %}"
                alt=""
                width="400"
              />
            </div>
            <h3 class="card-price">
              UGX 650M
            </h3>
            <div class="card-desc">
              Lorem idivsum dolor sit amet, consectetur adipisicing elit. Hic,
              exercitationem.
            </div>

            <br />

            <a href="#" class="card-btn">Details</a>
          </div>
          <div class="card">
            <div class="card-img">
              <img
                src="{% static 'properties/img/pic1.webp' %}"
                alt=""
                width="400"
              />
            </div>
            <h3 class="card-price">
              UGX 650M
            </h3>
            <div class="card-desc">
              Lorem idivsum dolor sit amet, consectetur adipisicing elit. Hic,
              exercitationem.
            </div>

            <br />

            <a href="#" class="card-btn">Details</a>
          </div>
        </div>
      </div>
      <!-- ======================Description Page====== -->
      <div class="services" id="services">
        <h1 class="text-center red-text">Services</h1>
        <div class="card-lg">
          <div class="card-img">
            <img
              src="{% static 'properties/img/pic1.webp' %}"
              alt=""
              srcset=""
              class="desc-img"
            />
          </div>
          <div class="desc-content">
            <h3 class="red-text">Houses</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero id
              repellendus, incidunt, consequuntur quibusdam accusantium dolorem
              quis ratione, non aspernatur dolorum voluptatibus voluptates
              facilis rerum aliquid nesciunt sequi eaque fuga?
            </p>
            <br />
            <a href="#" class="card-btn">Get Started</a>
          </div>
        </div>

        <div class="card-lg">
          <div class="card-img">
            <img
              src="{% static 'properties/img/pic1.webp' %}"
              alt=""
              srcset=""
              class="desc-img"
            />
          </div>
          <div class="desc-content">
            <h3 class="red-text">Apartments</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero id
              repellendus, incidunt, consequuntur quibusdam accusantium dolorem
              quis ratione, non aspernatur dolorum voluptatibus voluptates
              facilis rerum aliquid nesciunt sequi eaque fuga?
            </p>
            <br />
            <a href="#" class="card-btn">Get Started</a>
          </div>
        </div>

        <div class="card-lg">
          <div class="card-img">
            <img
              src="{% static 'properties/img/pic1.webp' %}"
              alt=""
              srcset=""
              class="desc-img"
            />
          </div>
          <div class="desc-content">
            <h3 class="red-text">Warehouses</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero id
              repellendus, incidunt, consequuntur quibusdam accusantium dolorem
              quis ratione, non aspernatur dolorum voluptatibus voluptates
              facilis rerum aliquid nesciunt sequi eaque fuga?
            </p>
            <br />
            <a href="#" class="card-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div id="testimonials" class="agents">
        <h1 class="text-center red-text">
          Testimonials
        </h1>
        <div class="agent-list">
          <div class="agent-card">
            <div class="agent">
              <img
                src="{% static 'properties/img/pic3.png' %}"
                alt=""
                srcset=""
                class="agent-img"
              />
            </div>
            <br />
            <h2 class="agent-name text-center red-text">
              John Doe
            </h2>
            <blockquote class="agent-desc">
              <q>
                Lorem iblockquotesum dolor sit amet consectetur adipisicing
                elit. Optio architecto similique quasi facilis eaque aliquam eum
                nam nostrum, quam ut.
              </q>
            </blockquote>
          </div>
          <div class="agent-card text-center">
            <div class="agent">
              <img
                src="{% static 'properties/img/pic3.png' %}"
                alt=""
                srcset=""
                class="agent-img"
              />
            </div>
            <br />
            <h2 class="agent-name text-center red-text">
              John Doe
            </h2>
            <blockquote class="agent-desc">
              <q>
                Lorem iblockquotesum dolor sit amet consectetur adipisicing
                elit. Optio architecto similique quasi facilis eaque aliquam eum
                nam nostrum, quam ut.
              </q>
            </blockquote>
          </div>
          <div class="agent-card">
            <div class="agent">
              <img
                src="{% static 'properties/img/pic3.png' %}"
                alt=""
                srcset=""
                class="agent-img"
              />
            </div>
            <br />
            <h2 class="agent-name text-center red-text">
              John Doe
            </h2>
            <blockquote class="agent-desc">
              <q>
                Lorem iblockquotesum dolor sit amet consectetur adipisicing
                elit. Optio architecto similique quasi facilis eaque aliquam eum
                nam nostrum, quam ut.
              </q>
            </blockquote>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-logo">
        <h1>Anya Properties</h1>
      </div>
      <div class="footer-list-display">
        <div class="footer-properties">
          <h3>Properties</h3>
          <ul>
            <li class="footer-item">
              <a href="" class="footer-link">Warehouses</a>
            </li>
            <li class="footer-item">
              <a href="" class="footer-link">Houses</a>
            </li>
            <li class="footer-item">
              <a href="" class="footer-link">Apartment</a>
            </li>
            <li class="footer-item">
              <a href="" class="footer-link">Rentals</a>
            </li>
            <li class="footer-item">
              <a href="" class="footer-link">Buy land</a>
            </li>

            {% if user.is_authenticated %}
            <li class="footer-item">
              <a href="{% url 'properties:admin_logout' %}" class="footer-link"
                >Log Out</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="footer-properties">
          <h3>Quick Links</h3>
          <ul>
            <li class="footer-item">
              <a href="#home" class="footer-link">Home</a>
            </li>
            <li class="footer-item">
              <a href="#about" class="footer-link">About</a>
            </li>
            <li class="footer-item">
              <a href="#services" class="footer-link">Service</a>
            </li>
            <li class="footer-item">
              <a href="contacts.html" class="footer-link">Contacts</a>
            </li>
            <li class="footer-item">
              <a href="" class="footer-link">Agents</a>
            </li>
          </ul>
        </div>
        <div class="footer-properties">
          <h3>Resources</h3>
          <ul>
            <li class="footer-item">
              <a href="" class="footer-link">Guides</a>
            </li>
            <li class="footer-item">
              <a href="" class="footer-link">Experts</a>
            </li>
            <li class="footer-item">
              <a href="" class="footer-link">About Uganda</a>
            </li>
          </ul>
        </div>

        <div class="footer-properties">
          <h3 footer-logo>News Letter</h3>
          <p class="foote-link">
            Subscribe To our News Letter
          </p>
          <form action="" method="post">
            <input type="email" class="email-input" />
            <br />
            <br />
            <input type="submit" value="Submit" class="email-btn" />
          </form>
        </div>
      </div>
      <div class="copyright-display">
        <div class="copyright">
          Copyright &copy; 2020 All Rights Reserved
        </div>
        <div class="social-icons">
          <a href="">Email</a>
          <a href="">Facebook</a>
          <a href="">Twitter</a>
        </div>
      </div>
    </footer>
    <script src="{% static 'properties/js/index.js' %}"></script>
  </body>
</html>
