{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'properties/css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'properties/css/all.min.css' %}" />

    <title>Real Estate Project Home</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="{% url 'properties:home' %}" class="nav-link"
          ><h1>Anya Properties</h1></a
        >
      </div>
      <span class="nav-link" id="mobile-menu" style="font-size: large;">
        &#9776;
      </span>
      <ul class="nav-bar">
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="#home">home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">about</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#Properties">properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="buy-btn" href="#services">
            Services
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'properties:admin_logout' %}" class="nav-link"
            >Log Out</a
          >
        </li>

        {% else %}
        <li class="nav-item"><a class="nav-link" href="#home">home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">about</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#Properties">properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="buy-btn" href="#services">
            Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">testimonials</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'properties:agents' %}">Agents</a>
        </li>

        <li class="nav-item">
          <a href="{% url 'properties:contacts' %}" class="nav-link"
            >contacts</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
    <div id="overlay" class="overlay">
      <div class="overlay-items">
        <a href="{% url 'properties:home' %}">Home</a>
        <a href="{% url 'properties:agents' %}">Agents</a>
        <a href="{% url 'properties:contacts' %}">Contacts</a>
      </div>
    </div>
    <div class="logged-out">
      <h1>You are Logged Out.</h1>
      <p>Thank you for spending Some Quality Time With The Web Site</p>
      <a href="{% url 'properties:admin_login' %}" class="red-text"
        >Please login Again</a
      >
    </div>

    <script src="{% static 'properties/js/index.js' %}"></script>
  </body>
</html>
